/* shared style */
* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: white;
    padding: 20px 43px;
    font-size: 20px;
    margin-top: 32px;
}


/* header part style */
.banner-container {
    background: rgba(229, 84, 115, 0.10);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 220px;
    padding-bottom: 0;
    margin-bottom: 32px;

}

.banner-photo {
     width: 500px;
    

}

.banner-title {
    color: #272727;
    font-size: 50px; 
    font-weight: 800; 

}

.banner-description {

    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 50;
     width: 100%;
     margin-top: 32px;
     
}
/* Main section style */
.feature-section{
    height: 100vh;
    padding: 150px 220px;
}
.featured-flower-content{
    text-align: center;
}
.feature-flower-description{
    width: 55%;
    margin: auto;
}
.featured-flower-photo{
    display: flex;
    gap: 24px;
    align-items:end;
    /* border-radius: 300px 300px 0px 0px; */
    margin-top: 40px;
    
    

}
.photo{
   
   

align-items: end;

}
img{
    width: 342px;
height: 450px;
border-radius: 300px 300px 0px 0px;
padding-top: 50px;

}

 